body, html, #container {
  height: 100%;
  font-family: monospace;
}

#working_div {
height:25%;
width:100%;
background-color:black;
margin:auto;
color:white;
}
#top_divider_div{
height:0.5%;
width:100%;
background-color:white;
}

#divider_div{
height:0.5%;
width:100%;
background-color:white;
}

#fills_div {
width:100%;
background-color:black;
margin:auto;
color:white;
}
